body {
  background-color: #b3acf1;
  text-align: center;
}
h1 {
  font-family: "Monaco", "Courier New", monospace;
  color: white;
}
h2 {
  font-family: "Monaco", "Courier New", monospace;
  color: white;
}
h3 {
  font-family: "Monaco", "Courier New", monospace;
  color: white;
}
a {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #007bff
}
.black-text {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #007bff
}
