body {
  background-color: black;
  text-align: center;
}
h1 {
  font-family: "Monaco", "Courier New", monospace;
  color: green;
}
h2 {
  font-family: "Monaco", "Courier New", monospace;
  color: green;
}
h3 {
  font-family: "Monaco", "Courier New", monospace;
  color: green;
}
a {
  font-family: "Lucida Console", "Courier New", monospace;
  color: green;
}
