body {
  background-color: #b3acf1;
  text-align: center;
}
body {
  background-color: black;
}
.back-btn {
   vertical-align: top;
   text-align: left;
}
.p1 {
  vertical-align: middle;
  color: white;
}
.big-btn {
  vertical-align: middle;
  height: 256px;
  width: 256px;
}
